@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap'); /* Roboto Font */

.profile-pic {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    border-radius: 50%;
}


