{% extends 'projectWeb/base.html' %}
{% load static %}

{% block authStyle %}
    <link rel="stylesheet" href="{% static 'projectWeb/css/auth.css' %}">
    {% endblock%}

{% block content %}
    <!-- LOGIN -->
    <div class="wrapper">
        <h1>Login</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username">
            <input type="password" placeholder="Password" name="password">
            <div class="recover">
                <a href="#">Forgot Password?</a>
            </div>
            <button class="form-button" type="submit">Login</button>
        </form>
        <div class="member">
            Don't have an account? <a href="{% url 'signup' %}">Register Now</a>
        </div>
    </div>
    <!-- /LOGIN -->
{% endblock %}
