{% extends 'projectWeb/base.html' %}
{% load static %}

{% block authStyle %}
    <link rel="stylesheet" href="{% static 'projectWeb/css/auth.css' %}">
    <link rel="stylesheet" href="{% static 'projectWeb/css/settings.css' %}">
    {% endblock%}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body">
                <hr>
                <h3 style="text-align: center;"> Account Settings</h3>
                <hr>
                <img class="profile-pic" src="{{request.user.profile.profile_pic.url}}" alt="profile picture">
            </div>
        </div>
        <div class="col-md-9" style="margin: auto;">
            <div class="card card-body">
                <div class="form-group">
                    <form method="POST" action="{% url 'settings' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                    <input class="btn btn-success" type="submit" name="Update Information">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
